
  <h1>WAAAAAAZZZZZUUUUUUP my name is <%=["Jimmy", "Oscar", "Mog"].sample%></h1>
  <div>
  <img src=http://i.dailymail.co.uk/i/pix/2013/04/24/article-0-19752118000005DC-317_472x425.jpg style='border: 3px dashed red'   >
  </div>"
